.katex-display > .katex {
    display: block;
    text-align: center;
    white-space: nowrap;
}
.katex {
    font: normal 1.21em KaTeX_Main, "Times New Roman", serif;
    line-height: 1.2;
    text-indent: 0;
    text-rendering: auto;
    border-color: currentColor;
}
