# OS
.DS_Store/**/*

# IDE
.vscode/**/*
.vs/**/*
.idea/**/*
*.iml

# Rust
target/**/*
Cargo.lock
dist/

# Yarn
yarn.lock
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
Thumbs.db
.DS_Store
docs/.build/
package-lock.json

*.7z
