// https://www.appdevtools.com/base64-encoder-decoder
body {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.28581;
    text-transform: none;
    font-family: Roboto, sans-serif;
    place-content: center space-between;
    -webkit-box-pack: justify;
    margin: 48px auto 0px;

    width: 80%;
    top: 10%;
    left: 10%;
}

header {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(200, 200, 200);
    //box-shadow: rgb(64, 64, 64) 0px 1px 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;

    h1 {
        -webkit-box-align: center;
        align-items: center;
        color: #009688;
        display: flex;
        font-family: Barlow;
        font-size: 1.3em;
        font-weight: 700;
        -webkit-box-pack: center;
        justify-content: center;
        margin: 0px;
    }

    h1::before {
        color: rgb(0, 150, 136);
        content: "";
        font-family: "Font Awesome 5 Free";
        font-size: 1em;
        font-weight: 900;
        margin-right: 15px;
    }

    a {
        background: rgb(226, 110, 14);
        border-radius: 3px;
        color: rgb(255, 255, 255);
        font-size: 0.9em;
        padding: 2px 4px;
        text-decoration: none;
    }

    a::before {
        content: "";
        font-family: "Font Awesome 5 Free";
        font-size: 1em;
        font-weight: 900;
        margin-right: 4px;
        text-decoration: none;
    }
}

label {
    color: #777777;
    margin-top: 20px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    min-height: 100px;
    height: auto;
    padding: 6px 10px;
    //resize: vertical;
    color: #393d49;
    border-color: #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system, Monaco, Menlo, Consolas, "Droid Sans Mono",
        Inconsolata, "Courier New", monospace;
}

.katex-display > .katex {
    display: block;
    text-align: center;
    white-space: nowrap;
}
.katex {
    font: normal 1.21em KaTeX_Main, "Times New Roman", serif;
    line-height: 1.2;
    text-indent: 0;
    text-rendering: auto;
    border-color: currentColor;
}
